#CardContainer {
  background-color: white;
}
#HomeCard {
  min-height: initial;
}

#dashboard {
  background-color: white;
  min-height: 40rem;
}
.jumbotron {
  background-color: whitesmoke;
}
.col-xs-6 {
 margin-bottom: 2.8rem;
  min-height: 32rem;
  min-width: 32rem;
  max-height: 28rem;
  max-width: 28rem;
}
