<div
  class="jumbotron-fluid"
  style="margin:2rem; margin-top: 4rem; margin-right:0rem;"
>
  <h1 style="text-align: left;">Zwolle-Noord</h1>
  <div class="row">
    <!-- card 1 -->

    <div class="col-xs-6">
      <app-koffie-battle></app-koffie-battle>
    </div>
    <!-- card 2 -->

    <div class="col-xs-6">
      <app-klachten></app-klachten>
    </div>
    <!-- card 3-->
    <div class="col-xs-6">
      <app-koffie-battle></app-koffie-battle>
    </div>
  </div>

  <div class="row">
    <!-- card 1 -->
    <div class="col-xs-6">
      <app-koffie-battle></app-koffie-battle>
    </div>
    <!-- card 2 -->
    <div class="col-xs-6">
      <app-koffie-battle></app-koffie-battle>
    </div>
    <div class="col-xs-6">
      <app-koffie-battle></app-koffie-battle>
    </div>
  </div>
</div>
