<div class="jumbotron-fluid">
  <h1 style="text-align: center;">Zwolle-Noord</h1>
  <div class="jumbotron-fluid" id="dashboard">
    <div class="row">
      <!-- row 1 -->
      <!-- card 1 -->
      <div class="col-xs-6">
        <app-koffie-battle></app-koffie-battle>
      </div>
      <!-- card 2 -->
      <div class="col-xs-6">
        <h1>Zieken</h1>
      </div>
      <!-- card 3-->
      <div class="col-xs-6">
        <app-koffie-battle></app-koffie-battle>
      </div>
      <div class="row row-2">
        <!-- card 4-->
        <div class="col-xs-6">
          <app-koffie-battle></app-koffie-battle>
        </div>
        <!-- card 5-->
        <div class="col-xs-6">
          <app-koffie-battle></app-koffie-battle>
        </div>
        <!-- card 6-->
        <div class="col-xs-6">
          <app-koffie-battle></app-koffie-battle>
        </div>
      </div>
    </div>
  </div>
</div>
