@page
@model Citrix.ConfirmModel
@{
    ViewData["Title"] = "Confirm";
}

<h1>Wil je nog een manager toevoegen? </h1>

<a href="../Zieken/Create" class="btn-primary btn-lg" style="margin-left: 20px"> JA </a>
<a href="../Zieken/" class="btn-primary btn-lg" style="margin-left: 20px"> Nee </a>
