<div class="jumbotron"
     style="border:  5px solid #cecece;
"
     id="koffieDisplay">
  <p *ngIf="!KoffieVerkocht"><em>Loading...</em></p>
  <h1
      style="text-align:center;
      margin-bottom:20px;
      font-weight:bold;


      ">Koffie Battle</h1>
  <table class="table table-striped align-self-md-start"
         aria-labelledby="tableLabel"
         *ngIf="KoffieVerkocht"

         >
    <thead>
      <tr>
        <th>Plaats</th>
        <th>Restaurant</th>
        <th>Percentage</th>
        <th>Laatste update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let koffie of KoffieVerkocht; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ koffie.NameRestaurant }}</td>
        <td>{{ koffie.Percentage }}</td>
        <td>{{ koffie.datum | date: "MMM-dd " }}</td>
      </tr>
    </tbody>
  </table>
</div>
