@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Geen toegang";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Je bent niet bevoegd om deze pagina te bezoeken.</p>
</header>
